<div class="container">
  <div>
    <h1 class="text-muted mt-5 mb-5">
      Edit <%= @technology.purpose %>
    </h1>
  </div>

  <%= form_for :technology, technology_path(@technology), method: :put do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :class => "form-control" %>

      <%= f.label :purpose %>
      <%= f.text_field :purpose, :class => "form-control" %>

      <%= f.label :description %>
      <%= f.text_area :description, :class => "form-control" %>

      <%= f.label :popularity %>
      <%= f.text_field :popularity, :class => "form-control" %>
    </div>

    <%= f.submit :class => "btn btn-primary btn-lg" %>
  <% end %>
</div>
