<!DOCTYPE html>
<html>
  <head>
    <title>Delper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if user_signed_in? %>
        Hello <%= current_user.username %>
        <%= button_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-link text-decoration-none pl-0" %>
      <% else %>
        <%= button_to "Sign in", new_user_session_path, :class => "btn btn-link text-decoration-none pl-0" %>
      <% end %>

      <p class="notice success"><%= notice %></p>
      <p class="alert danger"><%= alert %></p>

      <%= yield %>
    </div>
  </body>
</html>
